body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #e6ffe6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav a:hover{
    background-color: #a1f4ab;
}

#sobre-mi {
    background-color: #f0f8ff;
    padding: 40px;
    text-align: center;
}

.foto-perfil {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#proyectos {
    background-color: #e6ffe6;
    padding: 40px;
    text-align: center;
}

.proyecto {
    display: inline-block;
    width: 250px;
    margin: 20px;
    vertical-align: top;
}

.proyecto img {
    width: 100%;
    border-radius: 10px;
}

.proyecto h3 {
    font-size: 1.5em;
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

h1, h2 {
    font-size: 2em;
}
